/* ----------------------- */
/*      CUSTOM COLORS      */
/* ----------------------- */

$white: #fff;
$black: #3C3C3B;
$grey60: #666;
$grey50: #818181;
$grey40: #999;
$grey20: #cdcdcd;
$grey10: #e5e5e5;
$grey: #3c3c3c;
$pink: #ff725e;
$cyan: #008da1;
