@import "variables";

// generic rules

body {
    color: $black;
    background-color: $black;
}

a {
    text-decoration: none;
    color: $grey40;
}

.nav a:hover {
    color: $grey60;
}

h1 {
    margin: 20px 0 20px 0;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: normal;
}

p {
    margin: 0;
    line-height: 1.5em;
    max-width: 500px;
}

img {
    margin: 0;
}

//modules

code[class*="language-"],
pre[class*="language-"] {
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
}

input[name$="tab"] + * {
    display: none;
}
input[name$="tab"]:checked + * {
    display: block;
}

/* ------------------------- */
/*      SECTIONS COLORS      */
/* ------------------------- */

#header-wrap {
    background-color: $white;
}

.title {
    background: linear-gradient($pink, $darkpink);
}

.desc  {
    background: linear-gradient($white, $grey10);

    a[target="_blank"] {
        color: $pink;
    }
}

.docs {
    background: linear-gradient($grey, $darkgrey);

    a[target="_blank"] {
        color: $cyan;
    }
}

.news {
    background: linear-gradient($cyan, $darkcyan);
}

.about {
    background: linear-gradient($pink, $darkpink);
}

#titletext {
    vertical-align: middle;
}

.wrapper {
    max-width: 1024px;
}

.logo {
    height: 30px;
    width: 130px;

    background: {
        image: url(../img/logo.png);
        size: contain;
        repeat: no-repeat;
    }
}

#header-wrap {
    position: relative;
    z-index: 10;
}

#menu-indicator  {
    display: none;

    & > div  {
        height: 10px;
        display: inline-block;
        background: $white;
        transition: width 0.5s ease;
    }

    .left  {
        transform: skewX(-45deg);
        transform-origin: top right;
        box-shadow: -2px 0px 10px #222;
    }

    .right  {
        transform: skewX(45deg);
        transform-origin: top left;
        box-shadow: 2px 0px 10px #222;
    }
}


.a-home.nav-active {
    color: $pink;
}

.a-docs.nav-active {
    color: $grey;
}

.a-news.nav-active {
    color: $cyan;
}

.a-about.nav-active {
    color: $pink;
}

.news-twitter,
.news-github {
    width: 452px;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
}

.news-github {
    background-color: $white;
}

.phome {
    height: 440px;
}

.phome-ctrl {
    height: 35px;
}

.phome a {
    display: inline-block;
    height: inherit;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    &.down-darkpink {
        border-top: 30px solid $darkpink;
    }

    &.up-grey {
        border-bottom: 30px solid $grey;
    }

    &.down-darkgrey {
        border-top: 30px solid $darkgrey;
    }

    &.up-pink {
        border-bottom: 30px solid $pink;
    }
}

.home ul {
    border-bottom: 1px solid $grey10;
    border-left: 1px solid $grey10;
    border-bottom-left-radius: 5px;
    text-align: right;
    padding: 0;
    display: inline-block;
}

.home ul li {
    width: 80px;
    text-align: center;
    border-right: 1px solid $grey10;
}

.home ul li:last-of-type {
    border-right: none;
}

.home label,
.home .title a {
    margin: 0;
    width: 100%;
    padding: 10px;
    color: $grey40;
}

.home label:hover,
.home .title a:hover {
    color: $grey60;
}

.home .label-active,
.home .title a:active,
.home .label-active:hover,
.home .title a:active {
    color: $black;
}

pre.mts.mbm {
    margin-bottom: 20px;
    margin-top: 10px;
}

p.result {
    width: 100%;
    text-align: center;

    font-family: 'Demo', sans-serif;
    font-size: 20em;
    line-height: normal;
    margin-top: 50px;
}