/* ----------------------- */
/*      CUSTOM COLORS      */
/* ----------------------- */

$white: #fff;
$black: #000;
$grey60: #666;
$grey50: #818181;
$grey40: #999;
$grey20: #cdcdcd;
$grey10: #e5e5e5;
$grey: #3c3c3c;
$darkgrey: #333;
$pink: #ff725e;
$darkpink: #cc5b4b;
$cyan: #008da1;
$darkcyan: #007181;

// will be removed
body{
    background-color: $black;
}

/* ------------------------- */
/*      SECTIONS COLORS      */
/* ------------------------- */


#header-wrap{
    background-color: $white;
}

#home .title{
    background: linear-gradient($pink, $darkpink);
}

#desc{
    background: linear-gradient($white, $grey10);
}

#demo{
    background: linear-gradient($grey, $darkgrey);
}

#news{
    background: linear-gradient($cyan, $darkcyan);
}

#links{
    background: linear-gradient($pink, $darkpink);
}

#titletext{
    vertical-align: middle;
}

.wrapper{
    width: 1024px;
}

.fixed{
    position: fixed;
}

.logo{
    height: 60px;
    width: 250px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;    
}

.w32p{
    width: 32px;
}

.mt30p{
    margin-top: 30px;    
}

.t90p{
    top: 90px;
}

.mt90p{
    margin-top: 90px;
}

.pt50p{
    padding-top: 50px;
}

.pb50p{
    padding-bottom: 50px;
}

.pt100p{
    padding-top: 100px;
}

.pb100p{
    padding-bottom: 100px;
}

.top{
    top: 0;
}

.baseline{
    vertical-align: baseline;
}

a{
    text-decoration: none;
}

.nav a:hover{
    color: $grey60;
}

h1{
    margin: 20px 0 20px 0;
}

h2{
    margin: 0 0 20px 0;
    font-weight: normal;
}

p{
    margin: 0;
    line-height: 1.5em;
}

img{
    margin: 0;
}

.justify{
    text-align: justify;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.rounded{
    border-radius: 5px;
}

.roundedbl{
    border-bottom-left-radius: 5px;
}

.white{
    color: $white;
}

.bgwhite{
    background-color: $white;
}

.pink{
    color: $pink;
}

.grey40{
    color: $grey40;
}

.grey50{
    color: $grey50;
}

.bggrey10{
    background-color: $grey10;
}

.tsb20{
    text-shadow: 0 2px rgba(0,0,0,0.2);
}

.bsb20{
    box-shadow: 0 2px rgba(0,0,0,0.2);
}

.bog10{
    border: 1px solid $grey10;
}

.bog20l{
    border-left: 1px solid $grey10;
}

#header-wrap{
    position: relative;
    z-index: 1;
}

#menu-indicator {
    & > div {
        height: 10px;
        display: inline-block;
        background: $white;
        transition: width 0.5s ease;
    }

    .left {
        transform: skewX(-45deg);
        transform-origin: top right;
        box-shadow: -2px 0px 10px #222;
    }

    .right {
        transform: skewX(45deg);
        transform-origin: top left;
        box-shadow: 2px 0px 10px #222;
    }
}

a{color: $grey40}
#a_home.nav_active{color: $pink;}
#a_demo.nav_active{color: $grey;}
#a_news.nav_active{color: $cyan;}
#a_links.nav_active{color: $pink;}


.news-twitter, .news-github{
    width: 452px;
    height: 400px;
}

.news-github{
    background-color: $white;
}

.phome{
    height: 400px;
}

.phome-ctrl{
    height: 35px;
}

.phome a{
    display: inline-block;
    height: inherit;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

input[name$="tab"] + * {
    display: none;
}
input[name$="tab"]:checked + * {
    display: block;
}

#home ul{
    border-bottom: 1px solid $grey10;
    border-left: 1px solid $grey10;
    border-bottom-left-radius: 5px;
    text-align: right;
    padding: 0;
    display: inline-block;
}

#home ul li{
    width: 80px;
    text-align: center;
    border-right: 1px solid $grey10;
}

#home ul li:last-of-type{
    border-right: none;
}

#home label, #home .title a{
    margin: 0;
    width: 100%;
    padding: 10px;
    color: $grey40;
}

#home label:hover, #home .title a:hover{
    color: $grey60;
}

#home .label_active, home .title a:active, #home .label_active:hover, #home .title a:active{
    color: $black;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 14px;
    line-height: 1.3;
}

.arrow-down-darkpink { border-top: 30px solid $darkpink; }
.arrow-up-grey { border-bottom: 30px solid $grey; }
.arrow-down-darkgrey { border-top: 30px solid $darkgrey; }
.arrow-up-pink { border-bottom: 30px solid $pink; }